# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vs/
.idea/
build/
x64/
out/
cmake-build-debug-visual-studio/